body{
  margin: 0;
  padding: 0;
  background-image: url(./background.jpg);
  font-family: Arial, Helvetica, sans-serif;
}

.judul{
  color: rgb(253, 226, 137); 
  background-color: rgba(0, 0, 0, 0.5);
  height: 75px;
  font-size: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  letter-spacing: 3px;
}
.pembungkus{
  display: flex;
  margin-left: 20px;
}

.inputPendaftaran{
  width: 230px;
  height: 25px;
  border: none;
  border-bottom: 0.5px solid #81b214;
  text-align: center;
  margin: 3px;
  font-size: 20px;
}

#btnAmbilAntrian{
  width: 230px;
  height: 50px;
  font-size: 18px;
  color: aliceblue;
  border: none;
  background-color: #327f94;
  border-radius: 20px;
}

#btnAmbilAntrian:hover{
  background-color: #40a8c4;
  cursor: pointer;
  font-size: 20px;
}

#nomoranda{
  width: 250px;
  height: 300px;
  padding: 0;
  background-color: aquamarine;
  border: 2px solid rgb(77, 161, 133);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
}

#nomorAntrian{
  font-size: 220px;
  margin: 0;
  padding: 0;
}

#namaYangAntri{
  font-size: 30px;
  margin: 0;
  padding: 0;
}

#resetNoAntrian{
  border: none;
  color: grey;
  cursor: pointer;
}

#namaNamaYangAntri{
  padding-left: 15px;
  font-size: 20px;
  overflow: hidden;
  padding-top: 40px;
}

.daftarAntrian{
  width: 300px;
  height: 500px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

#totalAntrian{
  padding-left: 15px;
  font-size: 20px;
}

.displayTotalAntrian{
  width: 50%; 
  height: 120px; 
  margin: 0px
  
}

#panggilAntrian{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.loket {
  width: 200px;
  height: 50px;
  background-color:#327f94 ;
  color: white;
  border: none;
  border-radius: 20px;
  font-size: 18px;
  margin: 5px;
}

.loket:hover{
  background-color: #40a8c4;
  cursor: pointer;
  font-size: 20px;
}
.bungkusNomorYangSedangDiLayani{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.displayNomorYangSedangDILayani{
  font-size: 220px;
  margin: 0;
  padding: 0;
}

.displayNamaYangSedangDiLayani{
  font-size: 30px;
  margin: 0;
  padding: 0;
}

table tr td{
  
}

.prosesAntrian{
  width: 1250px;
  display: flex;
  justify-content: space-around;
  padding: 10px;
}

.borderProsesAntrian{
  border-radius: 10px;
}