body{
  margin: 0;
  padding: 0;
  background-image: url(./background.jpg);
  font-family: Arial, Helvetica, sans-serif;
}

.pembungkus{
  display: flex;
  margin-left: 20px;
}

.inputPendaftaran{
  width: 230px;
  height: 25px;
  border: none;
  border-bottom: 0.5px solid #81b214;
  text-align: center;
}

#btnAmbilAntrian{
  width: 230px;
  height: 50px;
  font-size: 18px;
  color: aliceblue;
  border: none;
  background-color: #327f94;
  border-radius: 20px;
}

#btnAmbilAntrian:hover{
  background-color: #40a8c4;
  cursor: pointer;
  font-size: 20px;
}

#nomoranda{
  width: 250px;
  height: 300px;
  padding: 0;
  background-color: aquamarine;
  border: 2px solid rgb(77, 161, 133);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
}

#nomorAntrian{
  font-size: 220px;
  margin: 0;
  padding: 0;
}

#namaYangAntri{
  font-size: 30px;
  margin: 0;
  padding: 0;
}

#resetNoAntrian{
  border: none;
  color: grey;
  cursor: pointer;
}

#namaNamaYangAntri{
  padding-left: 15px;
  font-size: 20px;
  overflow: hidden;
  padding-top: 55px;
}

.daftarAntrian{
  width: 300px;
  height: 500px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
#panggilAntrian{
  padding-left: 45px;
  padding-top: 10px;
}
#btnPanggilAntrian{
  width: 250px;
  height: 40px;
  background-color:#327f94 ;
  color: white;
  border: none;
  border-radius: 20px;
  font-size: 18px;
  position: static;
}

#btnPanggilAntrian:hover{
  background-color: #40a8c4;
  cursor: pointer;
  font-size: 20px;
}
#bungkusNomorYangSedangDiLayani{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#nomorNya{
  font-size: 220px;
  margin: 0;
  padding: 0;
}

#namaYangSedangDiLayani{
  font-size: 40px;
  margin: 0;
  padding: 0;
}

table tr td{
  
}

.prosesAntrian{
  width: 950px;
  display: flex;
  justify-content: space-around;
  padding: 10px;
}